.block-list-num {
    height: 200px;
}
 
.block-num {
    height: 20px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    border: 3px solid #000;
    background: transparent;
}